<h1>Editing script</h1>

<% form_for(:task, @script) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_area(:code, :cols => 80, :rows => 40) %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', task_script_path(@task, @script) %> |
<%= link_to 'Back', task_scripts_path %>
