<h1>New script</h1>

<% form_for(@script) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </p>
  <p>
    <%= f.label :size_bytes %><br />
    <%= f.text_field :size_bytes %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', scripts_path %>
