<h1>New script</h1>

<% form_for([@task, @script], :url => task_scripts_url(@task)) do |f| %>
  <%= f.error_messages %>

  <% f.fields_for :language do |language_fields| %>
    <p>
      <%= language_fields.label :name, "Language" %><br />
      <%= language_fields.text_field :name %>
    </p>
  <% end %>
  <p>
    <%= f.label :code %><br />
    <%= f.text_area(:code, :cols => 80, :rows => 40) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', task_scripts_path %>
