<p>
  <b>Language:</b>
  <%=h @script.language.name %>
</p>

<p>
  <b>Size bytes:</b>
  <%=h @script.size_bytes %>
</p>

<p>
  <b>Code:</b>
  <%=h @script.code %>
</p>


<%= link_to 'Edit', edit_task_script_path(@task, @script) %> |
<%= link_to 'Back', task_scripts_path %>
