<p>
  <b>Language:</b>
  <%=h @script.language.name %>
</p>

<p>
  <b>Size bytes:</b>
  <%=h @script.size_bytes %>
</p>

<p>
  <b>Code:</b>
  <%=h @script.code %>
</p>

<p>
  <b>Upvotes:</b>
  <%=h @script.num_upvotes %>
</p>

<p id="upvote">
<% if signed_in? %>
  <% if @script.upvoted?(current_user) %>
    Upvoted
  <% else %>
    <%= link_to_remote 'Vote up', :update => "upvote",
      :url => { :controller => "scripts", :action => "upvote", :id => @script.id, :user_id => current_user.id } %>
  <% end %>
<% end %>
</p>

<%= link_to 'Edit', edit_task_script_path(@task, @script) %> |
<%= link_to 'Back', task_scripts_path %>
