<h1>Editing task</h1>

<% form_for(@task) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tested %><br />
    <%= f.check_box :tested %>
  </p>
  <p>
    <%= f.label :expire_date %><br />
    <%= f.date_select :expire_date %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :duration_minutes %><br />
    <%= f.text_field :duration_minutes %>
  </p>
  <p>
    <%= f.label :operating_system_collection %><br />
    <%= f.text_field :operating_system_collection %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
