<p>
  <b>Tested:</b>
  <%=h @task.tested %>
</p>

<p>
  <b>Expire date:</b>
  <%=h @task.expire_date %>
</p>

<p>
  <b>Description:</b>
  <%=h @task.description %>
</p>

<p>
  <b>Duration minutes:</b>
  <%=h @task.duration_minutes %>
</p>

<p>
  <b>Tags:</b>
  <%=h @task.tags %>
</p>

<p>
  <b>Associated scripts:</b>
  <% if @task.scripts.length == 0 %>
    <%= link_to "No scripts yet -- add one", new_task_scripts_path(@task) %>.
  <% else %>
    <%= link_to "#{@task.scripts.length} associated scripts", task_scripts_path(@task) %>.
  <% end %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
