<p>
  <b>Tested:</b>
  <%=h @task.tested %>
</p>

<p>
  <b>Expire date:</b>
  <%=h @task.expire_date %>
</p>

<p>
  <b>Description:</b>
  <%=h @task.description %>
</p>

<p>
  <b>Duration minutes:</b>
  <%=h @task.duration_minutes %>
</p>

<p>
  <b>Associated scripts:</b>
  <%= link_to "#{@task.scripts.length} associated scripts.", task_scripts_path(@task) %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
