<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th>Tester score</th>
    <th>Evaluator score</th>
    <th>Requester score</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.username %></td>
    <td><%=h user.password %></td>
    <td><%=h user.tester_score %></td>
    <td><%=h user.evaluator_score %></td>
    <td><%=h user.requester_score %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>