<p>
  <b>Username:</b>
  <%=h @user.username %>
</p>

<p>
  <b>Password:</b>
  <%=h @user.password %>
</p>

<p>
  <b>Tester score:</b>
  <%=h @user.tester_score %>
</p>

<p>
  <b>Evaluator score:</b>
  <%=h @user.evaluator_score %>
</p>

<p>
  <b>Requester score:</b>
  <%=h @user.requester_score %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>