<h1>Listing test_outputs</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Size bytes</th>
  </tr>

<% @test_outputs.each do |test_output| %>
  <tr>
    <td><%=h test_output.data %></td>
    <td><%=h test_output.size_bytes %></td>
    <td><%= link_to 'Show', test_output %></td>
    <td><%= link_to 'Edit', edit_test_output_path(test_output) %></td>
    <td><%= link_to 'Destroy', test_output, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New test_output', new_test_output_path %>