<p>
  <b>Data:</b>
  <%=h @test_output.data %>
</p>

<p>
  <b>Size bytes:</b>
  <%=h @test_output.size_bytes %>
</p>

<p>
  <b>Upvotes:</b>
  <%=h @test_output.num_upvotes %>
</p>


<p id="upvote">
<% if signed_in? %>
  <% if @script.upvoted?(current_user) %>
    Upvoted
  <% else %>
    <%= link_to_remote 'Vote up', :update => "upvote",
      :url => { :action => "upvote", :id => @test_output.id, :user_id => current_user.id } %>
  <% end %>
<% end %>
</p>


<%= link_to 'Edit', edit_test_output_path(@test_output) %> |
<%= link_to 'Back', test_outputs_path %>
